body {
    background-color: rgb(222, 222, 222);
}

header {
    background-color: beige;
    padding: 10px;
}

.hlink {
    font-size: larger;
    text-decoration: none;
    padding: 10px;
    background-color: beige;
    color: black;
}

.current {
    border-style: solid;
}

h3 {
    padding-left: 30px;
}

.sub {
    padding-left: 60px;
}